@model Transportadora.Model.Models.Entrada

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Entrada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErnumeroNotaFiscal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErnumeroNotaFiscal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ervalor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ervalor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErcodClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErcodClienteNavigation.Clcodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ErcodPickupNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ErcodPickupNavigation.Pccodigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Ercodigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
